.slider-container {
  width: 80%;
  margin: auto;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-content img {
  width: 100%;
  max-height: 20px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.slide-content h3 {
  margin: 5px 0;
  text-align: center;
}
